  .bg-alice-blue {
    background: var($color-alice-blue);
  }
  .bg-antique-white {
    background: var($color-antique-white);
  }
  .bg-aqua {
    background: var($color-aqua);
  }
  .bg-aquamarine {
    background: var($color-aquamarine);
  }
  .bg-azure {
    background: var($color-azure);
  }
  .bg-beige {
    background: var($color-beige);
  }
  .bg-bisque {
    background: var($color-bisque);
  }
  .bg-black {
    background: var($color-black);
  }
  .bg-blanced-almond {
    background: var($color-blanced-almond);
  }
  .bg-blue {
    background: var($color-blue);
  }
  .bg-violet {
    background: var($color-violet);
  }
  .bg-brown {
    background: var($color-brown);
  }
  .bg-burly-wood {
    background: var($color-burly-wood);
  }
  .bg-cadet-blue {
    background: var($color-cadet-blue);
  }
  .bg-chartreuse {
    background: var($color-chartreuse);
  }
  .bg-chocolate {
    background: var($color-chocolate);
  }
  .bg-coral {
    background: var($color-coral);
  }
  .bg-cornflower-blue {
    background: var($color-cornflower-blue);
  }
  .bg-cornsilk {
    background: var($color-cornsilk);
  }
  .bg-crimson {
    background: var($color-crimson);
  }
  .bg-cyan {
    background: var($color-cyan);
  }
  .bg-dark-blue {
    background: var($color-dark-blue);
  }
  .bg-dark-cyan {
    background: var($color-dark-cyan);
  }
  .bg-dark-golden-rod {
    background: var($color-dark-golden-rod);
  }
  .bg-dark-gray {
    background: var($color-dark-gray);
  }
  .bg-dark-green {
    background: var($color-dark-green);
  }
  .bg-dark-khaki {
    background: var($color-dark-khaki);
  }
  .bg-dark-magenta {
    background: var($color-dark-magenta);
  }
  .bg-dark-olive-green {
    background: var($color-dark-olive-green);
  }
  .bg-dark-orange {
    background: var($color-dark-orange);
  }
  .bg-dark-orchid {
    background: var($color-dark-orchid);
  }
  .bg-dark-red {
    background: var($color-dark-red);
  }
  .bg-dark-salmon {
    background: var($color-dark-salmon);
  }
  .bg-dark-sea-green {
    background: var($color-dark-sea-green);
  }
  .bg-dark-slate-blue {
    background: var($color-dark-slate-blue);
  }
  .bg-dark-slate-gray {
    background: var($color-dark-slate-gray);
  }
  .bg-dark-turquoise {
    background: var($color-dark-turquoise);
  }
  .bg-dark-violet {
    background: var($color-dark-violet);
  }
  .bg-deep-pink {
    background: var($color-deep-pink);
  }
  .bg-deep-sky-blue {
    background: var($color-deep-sky-blue);
  }
  .bg-dim-gray {
    background: var($color-dim-gray);
  }
  .bg-dodger-blue {
    background: var($color-dodger-blue);
  }
  .bg-fire-brick {
    background: var($color-fire-brick);
  }
  .bg-floral-white {
    background: var($color-floral-white);
  }
  .bg-forest-green {
    background: var($color-forest-green);
  }
  .bg-furchsia {
    background: var($color-furchsia);
  }
  .bg-gainsboro {
    background: var($color-gainsboro);
  }
  .bg-ghost-white {
    background: var($color-ghost-white);
  }
  .bg-gold {
    background: var($color-gold);
  }
  .bg-golden-rod {
    background: var($color-golden-rod);
  }
  .bg-gray {
    background: var($color-gray);
  }
  .bg-green {
    background: var($color-green);
  }
  .bg-green-yellow {
    background: var($color-green-yellow);
  }
  .bg-honey-dew {
    background: var($color-honey-dew);
  }
  .bg-hot-pink {
    background: var($color-hot-pink);
  }
  .bg-indian-red {
    background: var($color-indian-red);
  }
  .bg-indigo {
    background: var($color-indigo);
  }
  .bg-ivory {
    background: var($color-ivory);
  }
  .bg-khaki {
    background: var($color-khaki);
  }
  .bg-lavender {
    background: var($color-lavender);
  }
  .bg-lavender-blush {
    background: var($color-lavender-blush);
  }
  .bg-lawn-green {
    background: var($color-lawn-green);
  }
  .bg-lemon-chiffon {
    background: var($color-lemon-chiffon);
  }
  .bg-light-blue {
    background: var($color-light-blue);
  }
  .bg-light-coral {
    background: var($color-light-coral);
  }
  .bg-light-cyan {
    background: var($color-light-cyan);
  }
  .bg-light-golden-rod-yellow {
    background: var($color-light-golden-rod-yellow);
  }
  .bg-light-gray {
    background: var($color-light-gray);
  }
  .bg-light-green {
    background: var($color-light-green);
  }
  .bg-light-pink {
    background: var($color-light-pink);
  }
  .bg-light-salmon {
    background: var($color-light-salmon);
  }
  .bg-light-sea-green {
    background: var($color-light-sea-green);
  }
  .bg-light-sky-blue {
    background: var($color-light-sky-blue);
  }
  .bg-light-slate-gray {
    background: var($color-light-slate-gray);
  }
  .bg-light-steel-blue {
    background: var($color-light-steel-blue);
  }
  .bg-light-yellow {
    background: var($color-light-yellow);
  }
  .bg-lime {
    background: var($color-lime);
  }
  .bg-lime-green {
    background: var($color-lime-green);
  }
  .bg-linen {
    background: var($color-linen);
  }
  .bg-magenta {
    background: var($color-magenta);
  }
  .bg-maroon {
    background: var($color-maroon);
  }
  .bg-medium-aqua-marine {
    background: var($color-medium-aqua-marine);
  }
  .bg-medium-blue {
    background: var($color-medium-blue);
  }
  .bg-medium-orchid {
    background: var($color-medium-orchid);
  }
  .bg-medium-purple {
    background: var($color-medium-purple);
  }
  .bg-medium-sea-green {
    background: var($color-medium-sea-green);
  }
  .bg-medium-slate-blue {
    background: var($color-medium-slate-blue);
  }
  .bg-medium-spring-green {
    background: var($color-medium-spring-green);
  }
  .bg-medium-turquoise {
    background: var($color-medium-turquoise);
  }
  .bg-medium-violet-red {
    background: var($color-medium-violet-red);
  }
  .bg-midnight-blue {
    background: var($color-midnight-blue);
  }
  .bg-mint-creem {
    background: var($color-mint-creem);
  }
  .bg-misty-rose {
    background: var($color-misty-rose);
  }
  .bg-moccasin {
    background: var($color-moccasin);
  }
  .bg-navajo-white {
    background: var($color-navajo-white);
  }
  .bg-navy {
    background: var($color-navy);
  }
  .bg-old-lace {
    background: var($color-old-lace);
  }
  .bg-olive {
    background: var($color-olive);
  }
  .bg-olive-drab {
    background: var($color-olive-drab);
  }
  .bg-orange {
    background: var($color-orange);
  }
  .bg-orange-red {
    background: var($color-orange-red);
  }
  .bg-orchid {
    background: var($color-orchid);
  }
  .bg-pale-golden-rod {
    background: var($color-pale-golden-rod);
  }
  .bg-pale-green {
    background: var($color-pale-green);
  }
  .bg-pale-turquoise {
    background: var($color-pale-turquoise);
  }
  .bg-pale-violet-red {
    background: var($color-pale-violet-red);
  }
  .bg-papaya-whip {
    background: var($color-papaya-whip);
  }
  .bg-peach-puff {
    background: var($color-peach-puff);
  }
  .bg-peru {
    background: var($color-peru);
  }
  .bg-pink {
    background: var($color-pink);
  }
  .bg-plum {
    background: var($color-plum);
  }
  .bg-powder-blue {
    background: var($color-powder-blue);
  }
  .bg-purple {
    background: var($color-purple);
  }
  .bg-rebecca-purple {
    background: var($color-rebecca-purple);
  }
  .bg-red {
    background: var($color-red);
  }
  .bg-rosy-brown {
    background: var($color-rosy-brown);
  }
  .bg-royal-blue {
    background: var($color-royal-blue);
  }
  .bg-saddle-brown {
    background: var($color-saddle-brown);
  }
  .bg-salmon {
    background: var($color-salmon);
  }
  .bg-sandy-brown {
    background: var($color-sandy-brown);
  }
  .bg-sea-green {
    background: var($color-sea-green);
  }
  .bg-sea-shell {
    background: var($color-sea-shell);
  }
  .bg-sienna {
    background: var($color-sienna);
  }
  .bg-silver {
    background: var($color-silver);
  }
  .bg-sky-blue {
    background: var($color-sky-blue);
  }
  .bg-slate-blue {
    background: var($color-slate-blue);
  }
  .bg-slate-gray {
    background: var($color-slate-gray);
  }
  .bg-snow {
    background: var($color-snow);
  }
  .bg-spring-green {
    background: var($color-spring-green);
  }
  .bg-steel-blue {
    background: var($color-steel-blue);
  }
  .bg-tan {
    background: var($color-tan);
  }
  .bg-teal {
    background: var($color-teal);
  }
  .bg-thistle {
    background: var($color-thistle);
  }
  .bg-tomato {
    background: var($color-tomato);
  }
  .bg-turquoise {
    background: var($color-turquoise);
  }
  .bg-violet {
    background: var($color-violet);
  }
  .bg-wheat {
    background: var($color-wheat);
  }
  .bg-white {
    background: var($color-white);
  }
  .bg-white-smoke {
    background: var($color-white-smoke);
  }
  .bg-yellow {
    background: var($color-yellow);
  }
  .bg-yellow-green {
    background: var($color-yellow-green);
  }