.text-alice-blue {
    color: var($color-alice-blue);
  }
  .text-antique-white {
    color: var($color-antique-white);
  }
  .text-aqua {
    color: var($color-aqua);
  }
  .text-aquamarine {
    color: var($color-aquamarine);
  }
  .text-azure {
    color: var($color-azure);
  }
  .text-beige {
    color: var($color-beige);
  }
  .text-bisque {
    color: var($color-bisque);
  }
  .text-black {
    color: var($color-black);
  }
  .text-blanced-almond {
    color: var($color-blanced-almond);
  }
  .text-blue {
    color: var($color-blue);
  }
  .text-violet {
    color: var($color-violet);
  }
  .text-brown {
    color: var($color-brown);
  }
  .text-burly-wood {
    color: var($color-burly-wood);
  }
  .text-cadet-blue {
    color: var($color-cadet-blue);
  }
  .text-chartreuse {
    color: var($color-chartreuse);
  }
  .text-chocolate {
    color: var($color-chocolate);
  }
  .text-coral {
    color: var($color-coral);
  }
  .text-cornflower-blue {
    color: var($color-cornflower-blue);
  }
  .text-cornsilk {
    color: var($color-cornsilk);
  }
  .text-crimson {
    color: var($color-crimson);
  }
  .text-cyan {
    color: var($color-cyan);
  }
  .text-dark-blue {
    color: var($color-dark-blue);
  }
  .text-dark-cyan {
    color: var($color-dark-cyan);
  }
  .text-dark-golden-rod {
    color: var($color-dark-golden-rod);
  }
  .text-dark-gray {
    color: var($color-dark-gray);
  }
  .text-dark-green {
    color: var($color-dark-green);
  }
  .text-dark-khaki {
    color: var($color-dark-khaki);
  }
  .text-dark-magenta {
    color: var($color-dark-magenta);
  }
  .text-dark-olive-green {
    color: var($color-dark-olive-green);
  }
  .text-dark-orange {
    color: var($color-dark-orange);
  }
  .text-dark-orchid {
    color: var($color-dark-orchid);
  }
  .text-dark-red {
    color: var($color-dark-red);
  }
  .text-dark-salmon {
    color: var($color-dark-salmon);
  }
  .text-dark-sea-green {
    color: var($color-dark-sea-green);
  }
  .text-dark-slate-blue {
    color: var($color-dark-slate-blue);
  }
  .text-dark-slate-gray {
    color: var($color-dark-slate-gray);
  }
  .text-dark-turquoise {
    color: var($color-dark-turquoise);
  }
  .text-dark-violet {
    color: var($color-dark-violet);
  }
  .text-deep-pink {
    color: var($color-deep-pink);
  }
  .text-deep-sky-blue {
    color: var($color-deep-sky-blue);
  }
  .text-dim-gray {
    color: var($color-dim-gray);
  }
  .text-dodger-blue {
    color: var($color-dodger-blue);
  }
  .text-fire-brick {
    color: var($color-fire-brick);
  }
  .text-floral-white {
    color: var($color-floral-white);
  }
  .text-forest-green {
    color: var($color-forest-green);
  }
  .text-furchsia {
    color: var($color-furchsia);
  }
  .text-gainsboro {
    color: var($color-gainsboro);
  }
  .text-ghost-white {
    color: var($color-ghost-white);
  }
  .text-gold {
    color: var($color-gold);
  }
  .text-golden-rod {
    color: var($color-golden-rod);
  }
  .text-gray {
    color: var($color-gray);
  }
  .text-green {
    color: var($color-green);
  }
  .text-green-yellow {
    color: var($color-green-yellow);
  }
  .text-honey-dew {
    color: var($color-honey-dew);
  }
  .text-hot-pink {
    color: var($color-hot-pink);
  }
  .text-indian-red {
    color: var($color-indian-red);
  }
  .text-indigo {
    color: var($color-indigo);
  }
  .text-ivory {
    color: var($color-ivory);
  }
  .text-khaki {
    color: var($color-khaki);
  }
  .text-lavender {
    color: var($color-lavender);
  }
  .text-lavender-blush {
    color: var($color-lavender-blush);
  }
  .text-lawn-green {
    color: var($color-lawn-green);
  }
  .text-lemon-chiffon {
    color: var($color-lemon-chiffon);
  }
  .text-light-blue {
    color: var($color-light-blue);
  }
  .text-light-coral {
    color: var($color-light-coral);
  }
  .text-light-cyan {
    color: var($color-light-cyan);
  }
  .text-light-golden-rod-yellow {
    color: var($color-light-golden-rod-yellow);
  }
  .text-light-gray {
    color: var($color-light-gray);
  }
  .text-light-green {
    color: var($color-light-green);
  }
  .text-light-pink {
    color: var($color-light-pink);
  }
  .text-light-salmon {
    color: var($color-light-salmon);
  }
  .text-light-sea-green {
    color: var($color-light-sea-green);
  }
  .text-light-sky-blue {
    color: var($color-light-sky-blue);
  }
  .text-light-slate-gray {
    color: var($color-light-slate-gray);
  }
  .text-light-steel-blue {
    color: var($color-light-steel-blue);
  }
  .text-light-yellow {
    color: var($color-light-yellow);
  }
  .text-lime {
    color: var($color-lime);
  }
  .text-lime-green {
    color: var($color-lime-green);
  }
  .text-linen {
    color: var($color-linen);
  }
  .text-magenta {
    color: var($color-magenta);
  }
  .text-maroon {
    color: var($color-maroon);
  }
  .text-medium-aqua-marine {
    color: var($color-medium-aqua-marine);
  }
  .text-medium-blue {
    color: var($color-medium-blue);
  }
  .text-medium-orchid {
    color: var($color-medium-orchid);
  }
  .text-medium-purple {
    color: var($color-medium-purple);
  }
  .text-medium-sea-green {
    color: var($color-medium-sea-green);
  }
  .text-medium-slate-blue {
    color: var($color-medium-slate-blue);
  }
  .text-medium-spring-green {
    color: var($color-medium-spring-green);
  }
  .text-medium-turquoise {
    color: var($color-medium-turquoise);
  }
  .text-medium-violet-red {
    color: var($color-medium-violet-red);
  }
  .text-midnight-blue {
    color: var($color-midnight-blue);
  }
  .text-mint-creem {
    color: var($color-mint-creem);
  }
  .text-misty-rose {
    color: var($color-misty-rose);
  }
  .text-moccasin {
    color: var($color-moccasin);
  }
  .text-navajo-white {
    color: var($color-navajo-white);
  }
  .text-navy {
    color: var($color-navy);
  }
  .text-old-lace {
    color: var($color-old-lace);
  }
  .text-olive {
    color: var($color-olive);
  }
  .text-olive-drab {
    color: var($color-olive-drab);
  }
  .text-orange {
    color: var($color-orange);
  }
  .text-orange-red {
    color: var($color-orange-red);
  }
  .text-orchid {
    color: var($color-orchid);
  }
  .text-pale-golden-rod {
    color: var($color-pale-golden-rod);
  }
  .text-pale-green {
    color: var($color-pale-green);
  }
  .text-pale-turquoise {
    color: var($color-pale-turquoise);
  }
  .text-pale-violet-red {
    color: var($color-pale-violet-red);
  }
  .text-papaya-whip {
    color: var($color-papaya-whip);
  }
  .text-peach-puff {
    color: var($color-peach-puff);
  }
  .text-peru {
    color: var($color-peru);
  }
  .text-pink {
    color: var($color-pink);
  }
  .text-plum {
    color: var($color-plum);
  }
  .text-powder-blue {
    color: var($color-powder-blue);
  }
  .text-purple {
    color: var($color-purple);
  }
  .text-rebecca-purple {
    color: var($color-rebecca-purple);
  }
  .text-red {
    color: var($color-red);
  }
  .text-rosy-brown {
    color: var($color-rosy-brown);
  }
  .text-royal-blue {
    color: var($color-royal-blue);
  }
  .text-saddle-brown {
    color: var($color-saddle-brown);
  }
  .text-salmon {
    color: var($color-salmon);
  }
  .text-sandy-brown {
    color: var($color-sandy-brown);
  }
  .text-sea-green {
    color: var($color-sea-green);
  }
  .text-sea-shell {
    color: var($color-sea-shell);
  }
  .text-sienna {
    color: var($color-sienna);
  }
  .text-silver {
    color: var($color-silver);
  }
  .text-sky-blue {
    color: var($color-sky-blue);
  }
  .text-slate-blue {
    color: var($color-slate-blue);
  }
  .text-slate-gray {
    color: var($color-slate-gray);
  }
  .text-snow {
    color: var($color-snow);
  }
  .text-spring-green {
    color: var($color-spring-green);
  }
  .text-steel-blue {
    color: var($color-steel-blue);
  }
  .text-tan {
    color: var($color-tan);
  }
  .text-teal {
    color: var($color-teal);
  }
  .text-thistle {
    color: var($color-thistle);
  }
  .text-tomato {
    color: var($color-tomato);
  }
  .text-turquoise {
    color: var($color-turquoise);
  }
  .text-violet {
    color: var($color-violet);
  }
  .text-wheat {
    color: var($color-wheat);
  }
  .text-white {
    color: var($color-white);
  }
  .text-white-smoke {
    color: var($color-white-smoke);
  }
  .text-yellow {
    color: var($color-yellow);
  }
  .text-yellow-green {
    color: var($color-yellow-green);
  }

  .text-facebook {
    color: var($color-facebook);
  }
  .text-twitter {
    color: var($color-twitter);
  }
  .text-whatsapp {
    color: var($color-whatsapp);
  }